# Python bytecode and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/

# Environment and secrets
# .env
# .streamlit/secrets.toml

# Logs and database
*.log
*.sqlite3

# Docker-related files
.dockerignore
*.env

# IDE/Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Build artifacts
build/
dist/

# Cache
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
